PSN_NOTIFY_INTERVAL={{ lookup('env', 'PSN_NOTIFY_INTERVAL') }}
TOKEN_REFRESH_INTERVAL={{ lookup('env', 'TOKEN_REFRESH_INTERVAL') }}
WAKEUP_INTERVAL={{ lookup('env', 'WAKEUP_INTERVAL') }}
SLACK_WEBHOOK_URL={{ lookup('env', 'SLACK_WEBHOOK_URL') }}
NOTIFY_USERS={{ lookup('env', 'NOTIFY_USERS') }}
PSN_USERNAME={{ lookup('env', 'PSN_USERNAME') }}
PSN_PASSWORD={{ lookup('env', 'PSN_PASSWORD') }}
