[Unit]
Description=PSN Notifier

[Service]
EnvironmentFile=-/etc/psn-notifier-config
WorkingDirectory={{ git_dest_dir }}
ExecStart={{ git_dest_dir }}/.venv/bin/psn-notifier
Restart=always

[Install]
WantedBy=multi-user.target
